@import "tailwindcss";

@theme inline {
  --color-background: #f7f9fb;
  --color-foreground: #191c1e;

  /* Custom Color Palette from Stitch Design System */
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  --color-primary: #000000;
  --color-primary-container: #00174b;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #497cff;

  --color-secondary: #565e74;
  --color-secondary-container: #dae2fd;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #5c647a;

  --color-tertiary: #000000;
  --color-tertiary-container: #002113;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #009668;

  --color-surface: #f7f9fb;
  --color-surface-dim: #d8dadc;
  --color-surface-container: #eceef0;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #45464d;
  
  --color-outline: #76777d;
  --color-outline-variant: rgba(198, 198, 205, 0.15); /* 15% opacity ghost border */

  /* Fonts */
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
}

@utility bg-wealth-gradient {
  background: linear-gradient(135deg, #00174b 0%, #003ea8 100%);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-inter antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-manrope;
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
